/*
 * Field
 */

.c-field {
    position: relative;
    background: #303036;
    transition: 150ms background-color;
}

    .c-field--p1,
    .c-field--p2 {
    }

    .c-field--p1 {
        /*color: #0FE;*/
        background: #0FE;
        box-shadow: 0px -3px rgba(0,0,0,.25) inset;
    }

    .c-field--p2 {
        /*color: #F0E;*/
        background: #F0E;
        box-shadow: 0px -3px rgba(0,0,0,.3) inset;
    }


    .c-field--current:before {
        /*outline: 5px dotted;*/
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        /*transform: */
        background: rgba(0,0,0,.3);
        /*width: 10px;*/
        /*height: 10px;*/
        /*border-radius: 9999px;*/
        animation-name: flash;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .c-field--p3 {
        background: #AAA;
    }

    .c-field--p4 {
        background: #FFF;
    }



    @keyframes flash {

        100% {
            opacity: 0;
        }
    }


/*
 * Board
 */

.c-board {
    justify-content: center;
    align-content: center;
    display: grid;
    /*max-width: 960px;*/
    height: 100%;
    margin: 0 auto;
    grid-template-rows: repeat(12, 2em);
    grid-template-columns: repeat(12, 2em);
    /*grid-template:
    repeat(12, 50px)
    repeat(12, 50px);
    /  */
    grid-gap: .25em;
    background: beige;
}



/*
 * Game
 */

.c-game {
    text-align: center;
}

.c-game-logo {
    animation: c-game-logo-spin infinite 20s linear;
    height: 80px;
}

.c-game-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.c-game-title {
    font-size: 1.5em;
}

.c-game-intro {
    font-size: large;
}

@keyframes c-game-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
